body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
  }
  .play-area{
    display: flex;
    flex-direction: row; 
  }
  
  .game-info {
    margin-left: 20px;
  }

  .winModal{
      position: absolute;
      left: 50xp;
      background:goldenrod;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20%/50%;
      padding: 20px 60px ;
      width:fit-content;
  }
  .winnerInput{
      height: 100px;
      color:white;
      font-weight: 700;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-around ;
      
     
  }
  .winnerInput>input{
       width: 200px;
       background:rgb(160, 160, 20);
       color: gold;
  }
  .winnerInput>button{
       width: 200px;
       background:purple;
       border-color: purple;
       color: gold;
       border-radius: 5% / 50%;
       font-weight: 700;
  }
  .chicken{
    width:fit-content;
  }